/* General - Footer */
footer {
    background-color: $background-color-2;
    color: $color-2;
    text-align: center;
    padding: 1rem; }
  
  /* General - Imágen de Footer */
  .imagen-footer {
    @include sizes(3rem, 3rem);
    display: inline-block;
    margin: 1rem; }
  