* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  /* General - HTML */
  html {
    font-family: $font-family-1;
    color: white; }
  
  /* General - Body */
  body {
    font-family: $font-family-1;
    background-image: linear-gradient($background-color-1, $background-color-2);
    color: white;
    text-align: center;
    margin: 0; }
    
  /* General - Botones de navegación */
  .menu-escritorio {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient($background-color-2, $background-color-1, $background-color-2); }
  
  .menu-item {
    padding: 1rem; }

  .menu-escritorio a{
    color: $color-2;
    padding: 1rem; }
  
  /* General - Extends */
  .boton-general {
    font-family: $font-family-2;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer; }

  /* General - Mixin */
  @mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center; }

  /* General - Mixin con parametros */
  @mixin sizes ($ancho, $alto) {
    width: $ancho;
    height: $alto; }
  
  /* General - Textos de titulos (h1) */
  h1 {
    font-size: 3rem; }
  
  /* General - Textos de titulos (h2) */
  h2 {
    font-size: 2rem;
    padding: 1rem; }
  
  /* General - Textos de titulos (h2) */
  h3 {
    text-align: center; }
  
  /* General - Textos de navegador */
  a {
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    transition: all 1s; }
  
  /* Animación de textos de navegador */
  a:hover {
    color: white;
    background-color: $background-color-2;
    padding: 1rem;
    margin: 1rem; }
  
  /* General - Textos de párrafos */
  p {
    margin: 1rem;
    text-align: center; }
  
  /*General - Imagenes no sobrepasan la pantalla*/
  img {
    max-width: 100%; }