/* Inicio - Control de carrusel izquierdo*/
.carousel-control-prev {
    background-color: $background-color-2; }
  
  /* Inicio - Control de carrusel derecho*/
  .carousel-control-next {
    background-color: $background-color-2; }
  
  /* Inicio - Control inferior */
  .carousel-indicators {
    background-color: $background-color-2; }