/* Variables para background */
$background-color-1: orange;
$background-color-2: orangered;
$background-color-3: red;
$background-color-4: white;
$background-color-5: black;

/* Variables para fuentes */
$font-family-1: 'Fredericka the Great', cursive;
$font-family-2: 'Black Ops One', cursive;

/* Variable para color de letras */
$color-1: black;
$color-2: white;

/* Variables para tamaño de letras */
$font-size-1: 1rem;
$font-size-2: 2rem;
$font-size-3: 3rem;

/* Variables para tamaño de pantalla */
$screen-1: 500px;
$screen-2: 750px;
$screen-3: 1000px;

